<p>在每个模块处单击左键，按Ctrl+C可以把整个模块的宏内容复制到剪贴板。</p>
<form>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" ng-model="options.setupCrossClassActions"/>生成“共通技能激活宏”
      </label>
      <br/>
      <label class="checkbox" ng-if="options.setupCrossClassActions">
        <input type="checkbox" ng-model="options.includeCurrentClassActions"/>
        生成“共通技能激活宏”时包括当前职业的“共通技能”
      </label>
    </div>
  </div>
</form>
<div ng-if="options.setupCrossClassActions">
  <h6>“共通技能”激活宏</h6>
  <textarea style="width:auto" cols="60" rows="10" readonly select-on-click>{{crossClassSetupMacroText}}</textarea>
</div>
<div ng-repeat="macro in macroList track by $index">
  <h6>宏 #{{$index+1}} <small>({{macro.time}}s)</small></h6>
  <textarea style="width:auto" cols="60" rows="16" readonly select-on-click>{{macro.text}}</textarea>
</div>
