<div style="padding-bottom:9px;margin:30px 0 20px;border-bottom:1px solid #eeeeee;"><h1>说明</h1></div>

<p style="margin-bottom:50px">　　《最终幻想XIV》生产模拟器将根据工匠属性、可用技能以及配方难度数据，使用遗传算法确定一系列操作，以最大化效益为目标，计算最终品质的期望值。由于求解器产生的结果基于模拟，游戏的工匠制造系统本身亦具有随机元素，故本求解器所提供的解决方案无法保证100%达到目的，尤其是在使用投机取巧行为的情况下更甚！因此，本求解器所产生的结果仅供参考，如照搬套用，需要您自担风险。</p>

<div style="padding-bottom:9px;margin:30px 0 20px;border-bottom:1px solid #eeeeee;"><h1>常用链接：</h1></div>

<ul>
  <li><a href="http://ff.sdo.com/web7/home/home.html" target="_blank">《最终幻想XIV》国服官方网站</a></li>
  <li><a href="https://ff14.huijiwiki.com/wiki/" target="_blank">《最终幻想XIV》中文维基</a></li>
  <li><a href="https://www.ffxiv.cn/" target="_blank">《最终幻想XIV》中文攻略站（素素）</a></li>
<p></p>
  <li><a href="http://nga.178.com/read.php?tid=12007124" target="_blank">艾欧泽亚萌新手册2017（NGA）</a></li>
  <li><a href="http://nga.178.com/read.php?tid=12767222" target="_blank">4.1：四人副本迷宫从开门到打完攻略（NGA）</a></li>
  <li><a href="http://nga.178.com/read.php?tid=13669493" target="_blank">4.1：8人讨伐歼灭战&24人大型任务攻略（NGA）</a></li>
<p></p>
  <li><a href="http://nga.178.com/read.php?tid=12513963" target="_blank">4.0：能工巧匠大型攻略（NGA）</a></li>
  <li><a href="http://nga.178.com/read.php?tid=12970124" target="_blank">4.0：大地使者大型攻略（NGA）</a></li>
  <li><a href="http://nga.178.com/read.php?tid=13207389" target="_blank">4.0：分解指南（NGA）</a></li>
  <li><a href="http://nga.178.com/read.php?tid=12946426" target="_blank">萌新从零开始的生产之路（NGA）</a></li>
<p></p>
  <li><a href="https://ff14.huijiwiki.com/wiki/ItemSearch" target="_blank">《最终幻想XIV》物品检索器</a></li>
  <li><a href="http://ffxiv.ariyala.com/" target="_blank">《最终幻想XIV》配装模拟器</a></li>
  <li><a href="http://cn.ff14angler.com/" target="_blank">《最终幻想XIV》钓鱼时钟</a></li>
  <li><a href="xrc/" target="_blank">《最终幻想XIV》仙人微彩计算器</a></li>
</ul>